<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="static/global.css" />
        <!-- https://blog.wesleyac.com/posts/why-not-javascript-cdn -->
        <script src="../static/vendored/htmx-2.0.0.min.js"></script>
        <title>Curator</title>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>Curator</h1>
                <p>The Spotify wrapper for playlist perfectionists</p>
            </div>
            <!-- $2.99 / mo -->
            <!-- Button to trigger Spotify login -->
            <button hx-get="api/auth/login" hx-redirect="follow">
                Login with Spotify
            </button>
            <!-- Placeholder for the username, will be filled by htmx response -->
            <div
                id="user-info"
                hx-get="http://localhost:8000/api/user"
                hx-trigger="load"
            >
                <!-- User info will be loaded here -->
            </div>
            <div>
                <!-- User's top 10 most recent liked songs that are not in any of their own playlists yet -->
                <div>
                    <!-- Start by displaying all of their playlists POC -->
                    <!-- Create a button to click that provides a dropdown to add to their existing playlists -->
                </div>
            </div>
            <div>
                <!-- User's top 10 songs that are added to most of the their playlists -->
            </div>
            <textarea
                class="text"
                id="playlist-name"
                placeholder="Playlist name"
            ></textarea>
        </div>

        <script>
            // Add any JavaScript for initialization or additional functionality here.
        </script>
    </body>
</html>
